/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --btn-color:#353430;
  --btn-hover: #35343066;
  --backgroung-image: url(../images/cover-image-light.png);
}

.theme-light .decorative__element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --btn-color:#353430;
    --btn-hover: #35343066;
    --backgroung-image: url(../images/cover-image-light.png);
  }

.decorative__element {
  display: none;
}

}  
